
<% if @mynotifications.exists? %>
<%=  %>さんが
  <% case @notification.action %>
  <% when like then %>
  <%= link_to 'あなたの投稿', @mynotification.scholastic_record, style: "font-weight: bold;" %>にいいねしました
  <% when comment then %>
    <% if @mynotification.scholastic_record.user_id == @visited.id %>
    <%= link_to "あなたの投稿", @mynotification.scholastic_record, style: "font-weight: bold;" %>にコメントしました
    <% else %>
    <%= @mynotification.scholastic_record.user.user_name %>さんの投稿にコメントしました
    <% end %>
  <% else %>
  <% end %>
<% else %>
<p>通知はありません</p>
<% end %>