<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <div class="review-index">
      <h4><mark>カテゴリ一覧</mark></h4>
    </div>

    <div class="actions">
      <%=link_to "カテゴリ新規登録", admins_categories_new_path,class: "btn btn-success", style:"margin: 30px" %>
    </div>

    <table class="table table-bordered">
      <tr>
    	  <th>カテゴリ名</th>
        <th></th>
      </tr>
      <% @category.each do |category| %>
      <tr>
    	  <td><%= category.name %></td>
        <td>
          <%= link_to "編集", admins_categories_edit_path(category.id), class:"btn btn-success"%>
          <%= link_to "削除", admins_categories_edit_path(category.id), method: :delete, class:"btn btn-danger"%>
        </td>
      </tr>
      <% end %>
    </table>

  </div>
</div>