<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h3 class="connety-about">Connetyとは？</h3>
      <p class="about-text">
        Connetyとは、日々の学習がお仕事につながる学習管理サイトです。<br>
      	ユーザーは日々の学習管理、アウトプットをConnetyにて行い、<br>
        仕事の発注希望者、企業はユーザーの学習状況を見て仕事の発注、採用活動を行うことができ、<br>
        ユーザーは学習を頑張れば頑張るほど仕事を獲得でき、学習により集中することができます。
      </p>
    <h3 class="connety-about">Connetyのメリット</h3>
      <li>日々学習を頑張るだけで勝手にお仕事につながる</li>
      <li>志同じくする仲間と切磋琢磨しながら学習できる</li>
      <li>あなたの学習の過程でアピールできる</li>
    <h3 class="connety-about">Connetyの使い方</h3>
      <li></li>
      <li></li>
      <li></li>
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success center-block" %>
    <h3 class="connety-about">良くある質問</h3>
      <li>仕事はどのように受注できるんですか？</li>
      <li>お金は一切かからないんですか？</li>
      <li>学生ではないですが、Connetyを利用できますか？</li>
      <li>企業から営業とかこないですか？</li>
  </div>
</div>
