<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h3 class="connety-about">Connetyとは？</h3>
      <p class="about-text">
        Connetyとは、日々の学習がお仕事につながる学習管理サイトです。<br>
      	ユーザーは日々の学習管理、アウトプットをConnetyにて行い、<br>
        仕事の発注希望者、企業はユーザーの学習状況を見て仕事の発注、採用活動を行うことができ、<br>
        ユーザーは学習を頑張れば頑張るほど仕事を獲得でき、学習により集中することができます。
      </p>
    <h3 class="connety-about">Connetyのメリット</h3>
    <div class="a-list">
      <li style="font-family: serif;"><b>日々学習を頑張るだけで勝手にお仕事につながる</b></li>
      <li style="margin-left:80px">企業様やお仕事の発注者が学習記録や振り返り等を閲覧されていて、それを元にお仕事の依頼などが届く形になります。ただ学習時間を増やすのではなく、どのように考えて学習をするかが、よりお仕事につながりやすくなる秘訣になります。</li><br>
      <li style="font-family: serif;"><b>志同じくする仲間と切磋琢磨しながら学習できる</b></li>
      <li style="margin-left:80px">学習に対して意欲的な学習者が集まり、仕事の獲得や就職を目指して学習に励んでいる方が多いので、他の人の学習記録や振り返りも見ながら刺激を受けさらに学習に励んでもらえたらと思います。</li><br>
      <li style="font-family: serif;"><b>あなたの学習の過程でアピールできる</b></li>
      <li style="margin-left:80px">就職活動やお仕事の受注のためにも日々の学習思考を明確に見られる事は基本的にはありません。そのためその人がどのように考え、どういった行動をしてきたのかは自分から伝える事でしか伝えられませんでしたが、Connetyなら日々の思考をConnetyを利用しアウトプットする事でそのまま企業様にアピールすることができるようになります。</li>
    </div>
    <h3 class="connety-about">Connetyの使い方</h3>
    <div class="a-list">
      <li style="font-family: serif;"><b>学習の記録</b></li>
      <li style="margin-left:80px">日々のやるべきことをタスクに落とし込み、登録します。登録したタスクを学習し終えたら、学習記録として学習時間、学習して得た学び気づいたことなどをコメントとして合わせて記録を行います。おすすめは前日の時点で次の日のやるべきことを全て洗い出し、登録しておくことで次の日のやるべきことを明確にスムーズに進めることができるようになります。</li><br>
      <li style="font-family: serif;"><b>目標設定</b></li>
      <li style="margin-left:80px">目標がなく何となく行う学習は、どこに向かっているのか、何を行うべきかを見失います。結果をより最大化させるために、明確に何を目指すのか、何のための学習かを明確にし、それを達成するために必要な目標を設定しましょう。</li><br>
      <li style="text-decoration : underline;"><b>目標設定のコツ</b></li><br>
      <li style="margin-left:80px">目標は届きそうで届かない、自分の全力の少し上を目指しましょう。<br>
      まず目標を立てる理由が、目標を立てたことによって本来起こらなかったはずの成果を達成し、成果を最大化するために立てます。<br>
      現状から上をめざしすぎても絶対達成できないような無謀な挑戦は逆に挑戦を諦めさせ、達成ラインが余裕である目標は現状維持の枠をこえず、目標を設定する意味を持ちません。<br><br>
      さらに決めた目標を達成する上で、現状から何か挑戦する必要があります。<br>
      頑張っても届きそうで届かない目標なので、達成できない原因としてどんな懸念点が上げられるのかを書き出し、その懸念点で失敗しないように、懸念点を潰すようなルールを設定します。<br>
      その結果、それでも達成できなかった場合は何がいけなかったのか、問題解決を行いましょう。</li><br>
      <li style="font-family: serif;"><b>日々の振り返り</b></li>
      <li style="margin-left:80px">企業様に見られる最も大切な部分になります。日々1日の学び、その日のテーマ、できたこと、できなかったことを考え、思考の整理、アウトプットを行います。ここでの思考の深さが成長速度、学びの最大化につながり、ここを見ればその人の学習能力が見えるので毎日行うことで思考力を鍛えていきましょう。</li><br>
      <li style="text-decoration : underline;"><b>日々の振り返りのコツ</b></li><br>
      <li style="margin-left:80px">目標に向かって日々学習していく中で、何かしら挑戦したこと、うまくいった、いかなかったことがあると思います。<br>
      その自分の1日の行動を振り返っていく中で、特に何かしら成長につなげるためにテーマを設定します。<br>
      自分の解決したいポイントやどのような学習をしていきたいポイントをテーマとし、決めたテーマを常に意識しながら学習に取り組み、まずは一つのテーマに絞って振り返りを行ってみましょう。
      </li><br>
      <li style="font-family: serif;"><b>問題解決</b></li>
      <li style="margin-left:80px">目標ごとに行う大切なものが問題解決です。目標を達成できてもできなくても、その過程を振り返り修正を行なっていきます。目標は達成することより成果を最大化させることの方が大切なので、目標ごとに必ず問題解決を行い、目標達成できている場合は上方修正を繰り返していきましょう。</li><br>
      <li style="text-decoration : underline;"><b>問題解決のコツ</b></li><br>
      <li style="margin-left:80px">問題解決において大事なのは、事実と解釈を見極めることです。<br>
      問題を解決する上で、問題は事実を捉え、解決策は解釈で捉えます。 <br><br>
      まず事実と解釈の説明をします。<br>
      事実とは数値やデータなど誰がみても同じ捉え方になるもの、逆に解釈は人によって捉え方が変わるもので、ここで問題を解釈で捉えてしまうと問題が起こり、問題が解決できなくなってしまいます。<br><br>
      どういうことかというと、問題を解釈で捉えた場合、自分が問題だと思っていたことが実は問題ではなく、見当違いの解決策のアプローチを行ってしまうことあるからです。<br>
      そのため目標に対しての問題は必ず事実ベースで捉え、それを解決するための仮説を検討し、解決策としましょう。</li><br>
      <li style="font-family: serif;"><b>お仕事の受注</b></li>
      <li style="margin-left:80px">お仕事の依頼がきたら積極的に受注していきましょう。初めは経験を積んでいくことが大切で、Connetyからくる案件は学習過程などを見た上で依頼いただいているので、慣れてくれば希望の条件や交渉なども行っていきましょう。</li><br>
      <li style="font-family: serif;"><b>募集求人申し込み</b></li>
      <li style="margin-left:80px">学習過程などを閲覧した上での選考なので、お申し込みが受諾されれば通常より選考が通りやすくなります。どんどん活用していきましょう。</li><br>
    </div>
    <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-success center-block", style:"width:250px" %>
    <h3 class="connety-about">良くある質問</h3>
    <div class="a-list">
      <li>Q. 仕事はどのように受注できるんですか？</li>
      <li style="margin-left:80px">A. 学習記録や日々の振り返りを見られた企業様やお仕事の発注者様から、お仕事の依頼があり、それを承諾すると受注できる形になります。求人企業に関しては、ユーザー様から募集求人に対してお申し込みいただけます。</li><br>
      <li>Q. お金は一切かからないんですか？</li>
      <li style="margin-left:80px">A. ご利用いただく分には一切お金はかかりません。お仕事を受注された際に限り、報酬から手数料、システム利用料として10％いただく形になります。募集求人への申し込み、採用に関しても一切費用はかかりません。</li><br>
      <li>Q. 学生ではないですが、Connetyを利用できますか？</li>
      <li style="margin-left:80px">A. ご利用可能です。求人申し込みもお仕事の受注もできますが、求人申し込みに関しては中途採用のみとなります。</li><br>
      <li>Q. 企業から営業とかこないですか？</li>
      <li style="margin-left:80px">A. 企業様や発注者様から執拗に営業が来る事はございません。オファーなどが来た際に承諾いただいた場合はその後やりとりいただければと思います。もし執拗な営業等があった際は運営まで連絡いただければと思います。</li>
    </div>
  </div>
</div>
