<div class="row">

  <div class="connety-about">お知らせ</div>
  <h4><div class="check">a</div></h4>

    <div class="newsrelease">
      <% @.each, url: user_tasks_path do || %>
      <ul class="news_list">
      	<li>
      	  <p>a</p>
      	  <p>a</p>
      	  <p>a</p>
      	</li>
      </ul>
      <% end %>
    </div>

    <div class="paginate-tag">
      <%= paginate @ %>
    </div>

</div>