<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <h3 class="connety-about">募集求人はどんな会社があるの？</h3>
    <div style="text-align:center">
      <b><p>
        求人企業は現在日々増え続けています。<br>
        今まで知らなかったけど好条件な企業、誰もが入りたいと思うような人気企業<br>
        日々の学習の質を上げながら、気になる企業があったときにアプローチできる<br>
        今から学習に励んでいきましょう。
      </p></b>
      <%= image_tag "companies.png", alt:"写真", width:"550px", height:"300px" %>
    </div>
    
  </div>
</div>
