<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h3 class="connety-about">どんなお仕事案件があるの？</h3>
      <div style="text-align:center">
        <b><p>
          現在お仕事案件は日々増え続けています。<br>
          昨今増え続けているYoutuberの動画編集<br>
          サイト作成やアプリ作成といったコーディング案件<br>
          SNSの住むネイル作成といったデザイン案件まで幅広く集まっています。
        </p></b>
        <%= image_tag "orders.png", alt:"写真", width:"550px", height:"300px" %>
      </div>
  </div>
</div>
