<div class="row">
  <div class="col-xs-8 col-xs-offset-2">

    <div class="suspension">
	  <h3>あなたのアカウントは現在、停止されています。</h3>
	  あなたのアカウントから利用規約に適さない言動が見られたためアカウントが停止されました。<br>
	  もし心当たりがない、異議申し立てがある場合はお問い合わせより連絡してください。<br>
	  <a href="/home/terms">利用規約</a>はこちらからご確認いただけます。
	</div>

  </div>
</div>