<div class="main-visual">
  <div class="main-visual-text">
    <b>
      <div class="text">
        <font size="4" face="ＭＳ Ｐ明朝">あなたの努力を企業は見ている。</font>
      </div>
    </b><br>
	<b>
	  <div class="text">
	    <font size="5" face="Comic Sans MS">日々の学習が仕事につながる<br>
		オファーが届く学習管理サイト</font>
	  </div>
	</b>
  </div>
  <div class="main-visual-offer">
    <b><p>＼新規登録はこちらから／</p></b>
  </div>
  <div class="main-visual-button">
    <%=  link_to "まずは新規登録をする", new_user_registration_path, class:"btn btn-success btn-lg"%>
  </div>
</div>
<div class="about">
  <h3>Connetyとは？</h3>
    <b><p>
      サイト利用者は日々の学習管理として,<br>
	  モチベーションの維持、学習の記録のためにサイトを利用し、<br>
	  その学習姿勢を見た企業、お仕事の発注者が仕事の発注、<br>
	  採用を行うことができる学習管理サイトです。
	</p></b>
</div>
<div class="records"><h3><b>学習の記録</b></h3></div>
<div class="r-content">
  <b><p>
  日々の学習をタスクとして登録し、<br>
  登録したタスクを学習記録として勉強時間、コメントを記録、<br>
  マイページにて総学習時間を見ることができます。<br><br>
  スキルを身につける上で学習時間は必要最低限のもの。<br>
  日々の学習時間を可視化することで、<br>
  自分にも自信を持って学習に取り組みましょう。
  </p></b>
</div>
<div class="s-image">
<%= image_tag "grafh.png", alt:"写真", width:"450px", height:"250px" %>
</div>
<div class="order"><h3>仕事の発注、獲得</h3></div>
<div class="o-content">
  <b><p>
    日々の学習をタスクとして登録し、<br>
  登録したタスクを学習記録として勉強時間、コメントを記録、<br>
  マイページにて総学習時間を見ることができます。<br><br>
  スキルを身につける上で学習時間は必要最低限のもの。<br>
  日々の学習時間を可視化することで、<br>
  自分にも自信を持って学習に取り組みましょう。
  </p></b>
<div class="offer">採用求人</div>
</div>