<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
<h2>お仕事を発注したい方に朗報</h2>
<h3>Connetyなら予算を抑えて、お仕事を任せられます！</h3>

<h3>Connetyとは？</h3>
ユーザーは日々の学習をConnetyにて管理しながら学習を進め、
お仕事の発注希望者、企業の採用担当者は、その学習過程、思考過程を閲覧し、
お仕事を任せたい、採用したい学生に対してオファーをすることができるプラットフォームです。

<h3>予算は押さえたいけど、学習初心者に任せるのは不安</h3>
<h3>きちんとやり切ってくれるのか、お仕事を誰に任せるのが良さそうか悩ましい</h3>
<h3>スタートアップでエンジニアを採用したいがなかなか捕まらない</h3>

<h3>そんな悩みをConnetyなら解決できます！</h3>

<h3>Connetyを使うメリットは？</h3>
<li>実績もまだない学習初心者なので、安くお仕事の発注ができる</li>
<li>学習初心者に任せるのは不安だが、その人の学習過程を見れているから安心</li>
<li>貪欲に学習を進めている学生が多く集まっているので、給与ではなく頑張ってくれる</li>

<h3>かかる費用は発注金額のみ！</h3>
お仕事の発注には手数料や利用料はかからないため、お仕事を発注した金額のみ
報酬としてお支払いいただく形になります。

どのような学生がいるか、まずは新規登録
<%= link_to "新規登録", new_requester_registration_path, class: "btn btn-default" %>
</div>
</div>