<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h2 class="c-good-news">優秀な人材を採用したい採用担当者に朗報</h2>
    <h3 style="text-align:center">
      Connetyなら学習過程をもとに、<br>
      貴社にマッチした人材を採用できます！
    </h3>

    <h3 class="requester-about">Connetyとは？</h3>
    <p class="about-text">
      ユーザーは日々の学習をConnetyにて管理しながら学習を進め、<br>
      お仕事の発注希望者、企業の採用担当者は、その学習過程、思考過程を閲覧し、<br>
      お仕事を任せたい、採用したい学生に対してオファーができるプラットフォームです。
    </p>

    <h4 class="requester-worries">面接だけでは学生を見極めるのが難しい</h4>
    <h4 class="requester-worries2">採用イベントに参加しているけれども、なかなか良い人材を捕まえられない</h4>
    <h4 class="requester-worries">予算を無駄にせず、最大効率の採用を行いたい</h4>

    <h3 class="c-solution">そんな悩みをConnetyなら解決できます！</h3>

    <h3 class="c-connety">Connetyを使うメリットは？</h3>
    <li>学習に貪欲な学生が集まっており、好きな学生にアプローチできる</li>
    <li>学生の日々の学習過程を閲覧できるので、自社にマッチした学生を見極められる</li>
    <li>かかる費用は完全成果報酬なので、予算を無駄にせず最大効率の採用ができる</li>

    <h3>かかる費用は成果報酬のみ！</h3>
    システムの手数料や利用料はかからないため、採用成功（入社）時のみ報酬としてお支払いいただく形になります。
    学生が内定を辞退した場合も、一切費用がかかりません。

    どのような学生がいるか、ご興味おありの担当者様は<a href="/contacts/new">お問い合わせ</a>ください。
  </div>
</div>