<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <table class="table table-bordered">
      <tr>
        <th>求人企業</th>
        <th>求人</th>
        <th>詳細</th>
      </tr>
      <% @offer_applications.each do |offer_application| %>
        <tr>
          <td><%= offer_application.company.name %></td>
          <td><%= offer_application.offer.name %></td>
          <td><%= link_to "詳細", user_show_offers_path(user_id: current_user.id,company_id: offer_application.company.id, id: offer_application.offer.id), class:"btn btn-primary"%></td>
        </tr>
      <% end %>
    </table>

  </div>
</div>