<div class="row">
  <div class="col-xs-2 col-xs-offset-1">
  <%# カテゴリボックス　%>
    <div class="category">
      <%#<% @categories.each do |category| %>
      <%#<li><%= link_to category.name, user_scholastic_records_path(user_id: current_user.id,category_id: category.id) %>
      <%#<% end %>
    </div>
    <div class="col-xs-8">
      <% @offers.each do |offer| %>
          <div class="product-index-box">
            <div class="product-index-image">
              <%= attachment_image_tag offer, :image, :fill, 350, 250, format: "jpg", fallback: "no-image.jpg", size:'80x80' %>
            </div>
            <div class="product-index-info">
              <p><%= link_to offer.company.name, user_show_offers_path(user_id: current_user.id,company_id: offer.company_id,id: offer.id) %></p>
              <p>
              	<%= offer.appeal_point %>
                  <span style="color:red">評価</span>
              </p>
            </div>
          </div>
      <% end %>
    </div>

  </div>
</div>