<div class="row">

  <div class="col-xs-5 col-xs-offset-2">
    <h4 class="edit-title">
      <mark>カテゴリ</mark>
    </h4>
  
  <div>
  <%= link_to "カテゴリ新規追加", admins_categories_new_path, class:"btn btn-success"%>
  <%= link_to "登録カテゴリ一覧", admins_categories_index_path, class:"btn btn-success"%>
  </div>

  </div>

  <div class="col-xs-5">
    <h4 class="edit-title">
      <mark>お知らせ</mark>
    </h4>

  <div>
  <%= link_to "お知らせ新規追加", admins_news_new_path, class:"btn btn-success"%>
  </div>

  </div>

</div>