<div class="row">
  <div class="col-xs-10 col-xs-offset-1">


<table class="table table-bordered">
    	<tr>
    		<th>日付</th>
    		<th>テーマ</th>
    		<th>できたこと</th>
            <th>できなかったこと</th>
    	</tr>
        <% @reviews.each do |review| %>
    	<tr>
    		<td><%= review.created_at.strftime('%Y/%m/%d') %></td>
    		<td><%= review.theme %></td>
    		<td><%= review.completion %></td>
            <td><%= review.halfway %></td>
    	</tr>
        <% end %>
    </table>

</div>
</div>