/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 *{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

nav ul{
display: table;
margin: 0 auto;
padding: 0 ;
width: 80%;
text-align: center;
}
nav li{
display: table-cell;
min-width: 50px;
}

.navbar{
  border-bottom:3px solid #eee;
}

#body{
  min-height: 550px;
}
.header-name{
  padding:40px 10px;
}
.logo-box{
  display:inline-block;
  margin-top: 18px;
}
.header-link{
  padding:30px 15px;
}
.job-about {
  width: 500%;
  height: 30px;
  background-color: #66CC66;
  margin: 0 -500%;
  padding: 0 500%;
}
.job {
  width: 360px;
  margin-left: 830px;
  padding-top: 6px;
  color: white;
}

html {
  overflow: auto;
}
body {
}
header {
  background-color: white;
}
.my-notification {
  color: black;
  font-size: 2em;
}
.my-message {
  color: black;
  font-size: 2em;
}
.notification-circle {
  color: #66CC66;
  position: absolute;
  padding-right: 5rem;
  padding-top: 2rem;
}

/* footer */
footer{
  width:100%;
  margin-top:50px;
  height:50px;
  border-top: solid 3px #eee;
  p{
    line-height:50px;
  }
  li {
  list-style-type: none;
  margin-left: 800px;
  }
}
.info-left {
  margin-top:-70px;
  margin-left: 200px;
}
.info-right {
  margin-top:-70px;
}
.footer-logo-box {
  margin-left: 250px;
  margin-top: 10px;
}
#copy-right {
  text-align: center;
}
mark {
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px #66CC66;
}
.table-bordered tr th {
  text-align: center;
}
.table-bordered tr td {
  text-align: center;
}