.main-visual {
	width: 100%;
    height: 500px;
	background-image: url(top.png);
	background-size: cover;
	padding-top: 100px;
	padding-left: 150px;
}
.main-visual-text {
	width: 400px;
	height: 180px;
}

.main-visual-text {
	padding: 20px;
}
.text {
    margin-bottom: 7px;
	text-align: center;
}
.main-visual-offer {
	margin-left: 110px;
	color: white;
}
.main-visual-button {
	margin-left: 85px;
}
.about {
	text-align: center;
}
.record {
	text-align: center;
}
.order {
	text-align: center;
}
.offer {
	text-align: center;
}