<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <%=link_to "今日の振り返りをする", new_user_review_path(current_user.id),class: "btn btn-primary", style:"margin-right:30px" %>

<table class="table table-bordered">
    	<tr>
    		<th>日付</th>
    		<th>テーマ</th>
    		<th>できたこと</th>
            <th>できなかったこと</th>
    	</tr>
    	<tr>
    		<td></td>
    		<td></td>
    		<td></td>
            <td></td>
    	</tr>
    </table>

</div>
</div>