// Place all the styles related to the requesters::about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.c-index {
	margin-top: 30px;
	margin-bottom: 20px;
}
.r-index {
	margin-top: 30px;
	margin-bottom: 20px;
}
.product-index-box {
	display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}
.product-index-image {
	margin-right: 30px;
}