// Place all the styles related to the requesters::about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* new */
.actions {
	margin: 20px 200px 0 0;
}

/* index */
.sidebar__item--fixed {
  position: sticky;
  margin-bottom: 0;
  top: 10px;
  z-index: 1;
}
.category, .category * {
		font:bold 11px Verdana,sans-serif;
		margin:0; padding:0;
		line-height:1em;
}
.category {
    margin:1em 0; padding:0;
	line-height:1em;
	list-style:none;
	margin-top: 100px;
}
.category li, .category p {
	margin:0; padding:0;
    line-height:0;
	text-align:left;
}
.category li:hover, .category p:hover {
	color:#66CC66;
	border-left:5px solid #66CC66;
	text-decoration:none;
}
.category li, .category p {
	display:block;
	margin:0; padding:5px 10px;
	color:#848684; font-weight:bold;
	border-left:5px solid #eee;
	text-decoration:none;
}
.title {
	text-decoration: underline;
}
.time {
	display: flex;
}
.link {
	border: 1px solid;
	margin: 0 0 0 20px;
	text-align: center;
}
.scholastic_record {
	border-left: 1px solid;
	border-right: 1px solid;
	padding: 10px;
	margin-top: 20px;
}
.user {
    margin-right: 20px;
	float: left;
}
.record {
	float: left;
}
.list {
	display: flex;
}
.list p {
	text-decoration: underline;
	margin-right: 80px;
	}
#detail {
	margin-right: 120px;
}
.like {
	clear: left;
	margin-bottom: 30px;
	padding-bottom: 30px;
	padding-top: 10px;
	margin-left: 10px;
	border-bottom: 0.1px solid;
}
.time {
	display: flex;
	margin-top: 15px;
	p {
	margin-top: 15px;
	}
}

/* show */
.post-content {
	clear: left;
	li {
	list-style: none; 
	}
}
.comment-entry {
	float: left;
}