// Place all the styles related to the requesters::about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* new */
.actions {
	margin: 20px 200px 0 0;
}

/* index */
.sidebar__item--fixed {
  position: sticky;
  margin-bottom: 0;
  top: 10px;
  z-index: 1;
}
.prof {
	border: 1px solid;
	margin: 30px 0 30px 20px;
	padding: 0 0 10px 0;
	list-style: none; 
	text-align: center;
	li {
	    margin: 10px 0 10px 0;
	}
}
.image-box {
	margin: 10px auto;
}
.category {
    border: 1px solid;
	margin: 0 0 30px 20px;
	list-style: none; 
	text-align: center;
	li {
	margin: 10px 0 10px 0;
	display:block;
	}
}
.title {
	text-decoration: underline;
}
.time {
	display: flex;
}
.link {
	border: 1px solid;
	margin: 0 0 0 20px;
	text-align: center;
}
.scholastic_record {
	border-left: 1px solid;
	border-right: 1px solid;
	padding: 10px;
}
.user {
    margin-right: 20px;
	float: left;
}
.record {
	float: left;
}
.list {
	display: flex;
}
.list p {
	text-decoration: underline;
	margin-right: 80px;
	}
#detail {
	margin-right: 120px;
}
.like {
	clear: left;
	margin-bottom: 30px;
	padding-bottom: 30px;
	padding-top: 10px;
	margin-left: 10px;
	border-bottom: 0.1px solid;
}