// Place all the styles related to the requesters::about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index */
.field {
	margin: 15px;
}
.newtasks {
	margin-bottom: 30px;
	margin-left: 20px;
}

/* edit */
.edit-tasks {
	margin: 20px;
}
.button {
	margin-left: 80px;
}