// Place all the styles related to the requesters::about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* show */
.prof {
	border: 1px solid;
	margin: 30px 0 30px 20px;
	padding: 0 0 10px 0;
	list-style: none; 
	text-align: center;
	li {
	    margin: 10px 0 10px 0;
	}
}
.image-box {
	margin: 10px 0 0 0;
}
.title {
	text-decoration: underline;
}
.link {
	border: 1px solid;
	margin: 0 0 0 20px;
	list-style: none; 
	text-align: center;
	li {
	margin: 10px 0 10px 0;
	}
}
.top {
    width: 100%;
    tr th {
    text-decoration: underline;
    }
    tr td {
	text-align: center;
	}
}
.task {
	border: 1px solid;
	min-height: 150px; 
    height: auto !important; 
    height: 150px;
    margin: 15px 0 15px 0;
    padding: 10px;
}
.graph {
	border: 1px solid;
	height: 300px;
}
.col-xs-8 {
	margin: 30px 0 0 0;
}

/* edit */
.image-form{
  float: right;
  margin-right: 30px;
}
.prof-box {
	margin: 20px 0 0 0;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 200px;
}