// Place all the styles related to the requesters::about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* show */
.prof {
	margin: 30px 0 30px 20px;
	padding: 10px 0 10px 0;
	list-style: none; 
	text-align: center;
	box-shadow: 0px 1px 3px rgba(0,0,0,.18);
	li {
	    margin: 10px 0 10px 0;
	}
}
.image-box {
    width: 110px;
    height: 110px;
    border: #fff 3px solid;
    border-radius: 10px 10px 10px 10px;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 10px;
    background: #fff;
}
.title {
	text-decoration: underline;
}
.link {
	border: 1px solid;
	margin: 0 0 0 20px;
	text-align: center;
	list-style: none;
}
.link li {
	margin: 10px 0 10px 0;
	list-style: none;
}
.top {
    width: 100%;
    tr th {
    text-decoration: underline;
    }
    tr td {
	text-align: center;
	}
}
.task {
	border: 1px solid;
	min-height: 150px; 
    height: auto !important; 
    height: 150px;
    margin: 15px 0 15px 0;
    padding: 10px;
}
.graph {
	border: 1px solid;
	height: 300px;
}
.col-xs-8 {
	margin: 30px 0 0 0;
}
.my-record {
	color: black;
    font-size: 4em;
}
.link-box, .link-box * {
		font:bold 11px Verdana,sans-serif;
		color: white;
		margin:0; padding:0;
		border-radius: 3px;
	}
.link-box { 
		margin:1px 0 1px 20px;
	}
	.link-box li {
		display:inline;
	}
.link-box li {
	width:150px;
	text-align: center;
	padding:5px 20px;
	color:#66CC66;
	text-decoration:none;
	background-color:#66CC66;
	border:1px solid #66CC66;
	font-weight:bold;
}
.link-box li:hover {	
		color:#66CC99;
		text-decoration:none;
		background:#66CC99 url(/content/img/css/nav4_on.gif) no-repeat left center;
	}
.link-box li,
	.link-box li:hover{
		display:block;
		margin:1px 0;
	}


/* edit */
.image-form{
  float: right;
  margin-right: 30px;
}
.prof-box {
	margin: 100px 0 0 0;
}
.edit-title {
	margin-top:30px;
}

#back {
  position: fixed;
  right: 100px;
  bottom: 150px;
}

/* registration */
.sign_up {
	margin-bottom: 30px;
}
.actions {
	margin-top: 30px;
}
.sign_in_page {
	margin-top: 40px;
}

/* sessions */
.sign_up_page {
	margin-top: 40px;
}
.sign_in {
	margin-bottom: 30px;
}