<footer>
	<% if user_signed_in? %>
	<div class="footer-logo-box navber-brand">
          <%=link_to image_tag("connety.png", alt:"Connety", width:"280px", height:"80px"), user_scholastic_records_path(current_user) %>
        </div>
        <% else %>
        <div class="footer-logo-box navber-brand">
          <%=link_to image_tag("connety.png", alt:"Connety", width:"280px", height:"80px"), root_path %>
        </div>
        <% end %>
        <div></div>
  <p id="copy-right">Copyright © Connety, Inc. 2020</p>
</footer>